@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.upload {
  position: relative;
  @include wrapper-sidespace;

  @include tablet {
    margin-bottom: $max-space * 5;
  }

  @include desktop {
    margin-bottom: $max-space * 10;
  }

  &__title {
    padding: $regular-space 0 $medium-space;

    @include tablet {
      border-bottom: $divider;
      padding-top: $regular-space * 2;
    }
  }

  &__label {
    font-size: $mobile-label-font;
    font-weight: $weight-demi;
    color: $silver;
  }

  &__thumbnail {
    width: 100%;
    margin-bottom: $medium-space;
    display: block;
  }

  &__form {
    @include flex-column;

    @include tablet {
      padding-top: $max-space;
    }

    @include desktop {
      @include flex-row {
        flex-wrap: wrap;
      }
    }

    &-left {
      @include tablet {
        width: 60%;
      }

      @include desktop {
        width: 35%;
      }
    }

    &-right {
      @include desktop {
        margin-left: $regular-space;
        flex-grow: 2;
      }
    }
  }

  &__input,
  &__textarea {
    @include formfield;
    margin-bottom: $regular-space;
    width: 100%;

    @include tablet {
      width: 100%;
    }
  }

  &__textarea {
    margin-bottom: $medium-space;
    height: 8.5rem;

    @include tablet {
      margin-bottom: $max-space;
    }
  }

  &__action {
    @include flex-column;

    @include tablet {
      @include flex-row {
        gap: $max-space;
        flex-direction: row-reverse;
      }
      border-top: $divider;
      padding-top: $max-space;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__submit {
    @include button;

    @include tablet {
      width: 10rem;
    }
  }

  &__link {
    text-decoration: none;
    font-size: $mobile-label-font;
    font-weight: $weight-demi;
    line-height: $mobile-label-line-height;
    color: $blue;
    margin: $regular-space auto;

    @include tablet {
      margin: auto 0;
    }
  }
}

.loading {
  &::before {
    content: "";
    background-color: $white;
    color: $blue;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    animation: loading 1s;
  }

  &::after {
    content: "Uploading...";
    color: $blue;
    font-size: $normal-header-font;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
  }

  @keyframes loading {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.6;
    }
  }
}
