@use "./variables" as *;
@use "./fonts" as *;

@mixin tablet {
  @media (min-width: $tablet-size) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-size) {
    @content;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  @content;
}

@mixin wrapper-sidespace {
  margin: $mobile-block-sidespace;

  @include tablet {
    margin: $tablet-block-sidespace;
  }

  @include desktop {
    margin: $normal-block-sidespace;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  @content;
}

@mixin wrapper-sidespace {
  margin: $mobile-block-sidespace;

  @include tablet {
    margin: $tablet-block-sidespace;
  }

  @include desktop {
    margin: $normal-block-sidespace;
  }
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin button {
  font-size: $mobile-label-font;
  font-weight: $weight-demi;
  line-height: $mobile-label-line-height;
  text-align: center;
  height: 3rem;
  width: 100%;
  border-radius: 0.25rem;
  border-style: none;
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $darkblue;
    cursor: pointer;
  }
  @include tablet {
    font-size: $normal-label-font;
    line-height: $normal-label-line-height;
    width: 6rem;
    padding: $min-space;
  }
}

@mixin avatar {
  background-color: $silver;
  overflow: hidden;
  border-radius: 50%;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
}

@mixin formfield {
  width: 100%;
  height: 3rem;
  border: 0.15rem solid $mercury;
  border-radius: 0.25rem;
  padding: 1rem;
  overflow: hidden;
  background-color: $white;
  font-size: $mobile-body-font;
  font-weight: $weight-regular;
  line-height: $mobile-body-line-height;
  &::placeholder {
    color: $black;
  }
  &:focus {
    outline: none;
    border-color: $blue;
  }
  &:error {
    border: 0.0625rem solid $error;
  }

  @include tablet {
    width: 15rem;
    height: 3rem;
    padding: 0.8rem;
    font-size: $normal-body-font;
    line-height: $normal-body-line-height;
  }
}
