$black: #323232;
$blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;
$darkblack: #000000;
$darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$error: #d22d2d;
$desktop-size: 1280px;
$tablet-size: 768px;
$mobile-size: 320px;
$logo-height: 1.25rem;
$logo-width: 7.5rem;
$divider: 0.0625rem solid $mercury;
$space-unit: 0.5rem;
$min-space: 0.5rem;
$small-space: 1rem;
$regular-space: 1.5rem;
$medium-space: 2rem;
$max-space: 2.5rem;
$normal-block-sidespace: 0 11.25rem;
$tablet-block-sidespace: 0 1.5rem;
$mobile-block-sidespace: 0 1rem;
