@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.wrapper {
  width: 100%;
  background-color: black;

  @include desktop {
    padding: 0 $max-space * 3;
  }

  &__player {
    display: block;
    width: 100%;
    max-height: 34rem;

    @include tablet {
      margin: auto;
      width: 90%;
    }

    @include desktop {
      width: 80%;
    }
  }
}
