@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.card {
  @include flex-row;
  padding: $min-space;

  &:hover {
    cursor: pointer;
    background-color: $darkblue;
    opacity: 0.85;
    border-radius: 0.25rem;
    transition: 0.5s ease;
  }

  &__image {
    display: block;
    width: 7.5rem;
    height: 4.7rem;
  }

  &__text-wrapper {
    margin-left: $small-space;
  }

  &__title,
  &__creator {
    font-weight: $weight-demi;
    font-size: $mobile-list-contact-font;
    line-height: $mobile-list-conatct-line-height;

    @include tablet {
      font-size: $normal-list-contact-font;
      line-height: $normal-list-conatct-line-height;
    }
  }

  &__creator {
    font-weight: $weight-regular;
    margin-top: $small-space;
  }
}
