@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  &__card {
    @include flex-row;
    border-bottom: $divider;
    margin-top: $medium-space;
    padding-bottom: $regular-space;
  }

  &__avatar {
    @include avatar;
    margin-right: $small-space;
  }

  &__body {
    @include flex-row {
      flex-wrap: wrap;
    }
    width: 100%;
  }

  &__user {
    font-weight: $weight-demi;
  }

  &__date {
    margin-left: auto;
    color: $silver;

    @include tablet {
      margin-left: $small-space;
    }
  }

  &__text {
    width: 100%;
    margin-top: $min-space;

    @include desktop {
      margin-right: $medium-space;
    }
  }
}
