@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.search {
  position: relative;
  @include flex-row;
  flex-wrap: wrap;

  &__input-wrapper {
    @include formfield;
    border: none;
    background: none;
    padding: 0;
    margin-bottom: $min-space;
    position: relative;

    @include tablet {
      background: none;
      padding: 0;
      margin: 0;
    }
  }

  &__icon {
    position: absolute;
    margin-left: $small-space;
    bottom: 50%;
    transform: translateY(50%);
  }

  &__input {
    @include formfield;
    margin-bottom: $min-space;
    padding-left: $max-space;

    @include tablet {
      margin: 0;
      padding-left: $max-space;
    }
  }

  &__submit-icon {
    margin-right: $min-space;
    vertical-align: sub;
    padding-right: $small-space;
  }

  &__submit {
    @include button;
    margin: 0 $small-space $small-space 0;
    width: auto;
    flex-grow: 1;

    @include tablet {
      flex-grow: 0;
      margin: 0 $regular-space;
      width: 10rem;
    }
  }

  &__avatar-wrapper {
    @include avatar;
    margin-left: auto;

    @include tablet {
      margin: 0;
    }
  }

  &__avatar {
    height: 100%;
  }
}
