@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
  @include flex-column {
    justify-content: center;
  }
  @include wrapper-sidespace;

  @include tablet {
    @include flex-row {
      justify-content: space-between;
    }
    padding: 1rem 0;
  }

  &__logo {
    display: flex;
    margin-left: 37%;
    margin-right: 63%;
    margin-bottom: 1rem;
    height: $logo-height;
    width: $logo-width;
    justify-content: center;

    @include tablet {
      margin: auto 0;
    }
  }
}
