@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.form {
  @include flex-row;
  border-bottom: $divider;

  &__avatar-wrapper {
    @include avatar;
    margin: $regular-space $small-space 0 0;

    @include tablet {
      margin-bottom: $regular-space;
    }
  }

  &__avatar {
    height: 100%;
  }

  &__body {
    flex-grow: 2;
    padding-bottom: $small-space;

    @include tablet {
      padding-bottom: $regular-space;
      @include flex-row {
        flex-wrap: wrap;
      }
    }
  }

  &__label {
    font-size: $mobile-label-font;
    font-weight: $weight-demi;
    color: $silver;
    padding-bottom: $small-space;

    @include tablet {
      width: 100%;
      height: 0;
      padding-bottom: $regular-space;
    }
  }

  &__input {
    @include formfield;
    height: 6rem;
    margin-bottom: $small-space;
    resize: none;

    @include tablet {
      margin: 0 $small-space 0 0;
      flex-grow: 2;
    }
  }

  &__submit {
    @include button;
    width: 100%;
    margin-bottom: $regular-space;

    @include tablet {
      margin-bottom: 0;
      width: 10rem;
      margin-right: $max-space;
    }

    @include tablet {
      margin-right: $medium-space;
    }
  }
  &__submit-icon {
    margin-right: 1.5rem;
    vertical-align: sub;
  }
}
