@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.main {
  &__body {
    @include wrapper-sidespace;

    @include desktop {
      @include flex-row {
        flex-wrap: wrap;
      }
    }

    &-left {
      @include desktop {
        width: 70%;
      }
    }

    &-right {
      @include desktop {
        width: 30%;
      }
    }
  }
}
